html 
    head 
         title  pug-express

    body 
          h1(id="text") 
          div   
              ul 
                 li item n.
                 li item n.
                 li item n.
                 li item n.
                 li item n.
          