 <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/api/productos">Ver Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/productos/form">Agregar otro producto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <h1 style="text-align: center;text-transform: uppercase;"> {{titulo}} </h1>